.container{
    padding: 0 14px;
    color: #FFF;

}

.center{
    text-align: center;
    margin-bottom: 14px;
}

.content {
    background-color: #0f0f0f;
    margin: 24px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    max-width: 400px;
    border-radius: 5px;
}

.loss {
    color: red;
}
.profit {
    color: green;
}